# shellcheck shell=bash
PATH_add bin

direnv_load op run --cache --env-file=config/env.1p -- direnv dump

BUNDLE_PATH="$(pwd)/vendor/bundle"
export BUNDLE_PATH
GEM_HOME="${BUNDLE_PATH}/gems"
export GEM_HOME
GEM_PATH="${GEM_PATH}:${GEM_HOME}"
export GEM_PATH
